/*** PATTERNS ***/

    /* website palette */

    $color__brand--primary: #00a5b5;
    $color__brand--secondary: #002d54;
    $brand-gradient-direction: left;
    $category-header__border-color: $color__brand--secondary;
    $category-header__title-color: $color__brand--primary;
    $site-logo__height--medium: 35px;
    a, .link {color: $color__brand--secondary;}

    .color-primary-img-wash {
        background-color: rgba(0,165,181,0.5);
      }

/** Site Header **/

.site-header {
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);
    display: flow-root;

    &:before {
        background-image: linear-gradient(to right, $color__brand--primary, $color__brand--secondary);
        content: '';
        display: block;
        height: 7px;
        margin-bottom: 14px;
        width: 100%;
    }
} 


/** Epilogue **/

.epilogue {
        display: block;
        margin: 0 auto;
        padding: 0 10px;
    

    .container {

        width: 100%;
        background: $color__brand--primary;
        color: #fff;
        padding:30px;

        .text {
            display: inline-block;
            font-style: italic; 
            max-width: 100%;


                @media (min-width: 768px) {
                    max-width: 80%;
                }
            }
        
        .name { 
            font-weight: bold;
        }
    } 
}



/** category list (card)  **/

    /* include image in tile */

    /* remove tile padding */ 
        .category-item__link {
            padding: 0; 
        }

    /* new class - tile image */    
        .home-category-item__image {
            border-bottom: 5px solid $color__brand--primary;
            max-width: 100%;
            width:100%;
            display: block;
            position: relative;
            margin: 0 auto;

            @media (min-width: 768px) {
            
                height: 142px;
            }
            img {
                background-color: 
                linear-gradient(
                    rgba(255, 0, 0, 0.45), 
                    rgba(255, 0, 0, 0.45)
                )
            }    
        }

        .home-category-item__title {
            padding: 7px 7px 0;
            text-align: center;
            color:#000;
            margin:0;
        }

        .home-category-item__summary {

            font-size: 16px;
            padding: 0 10px;
            text-align: center;
            line-height: 21px;
        }
 
    /* new class - tile button */    
        
        .home-category-item__button {
            
            display: block;
            margin: 0 auto;
            vertical-align: bottom;
            text-align: center;

            @media (min-width: 768px) {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }    
    
            span {
                    display: inline-block;
                    color:#fff;
                    background: $color__brand--secondary;
                    padding:7px 21px;
                }

        }

    /* card min height */
    .card {
  
        margin: 10px -5px;
    }


    .card--small {
      
  

        @media (min-width: 768px) {

            min-height: 294px;

        }
    
        @media (min-width: 992px) {
         
        }

    } 



/** OTHER ELEMENTS **/

    // SG logo header
    .site-header {

        background-color: #ffffff;
        box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);
      
            &:before {
                background-image: linear-gradient(to right,  $color__brand--primary, $color__brand--secondary);
                content: '';
                display: block;
                height: 7px;
                margin-bottom: 14px;
                width: 100%;
            }


        .site-header__title {

            border-left: 2px solid $color__brand--primary;
            display: inline-block;
            vertical-align: top;
            line-height: 38px;
        
            
            a.site-header__link {
                vertical-align: top;
                text-decoration: none;
                margin-left: 15px;
                font-weight: 300;
                color: #333;
    
            }
        } 
    }



// Hero Header 
.hero-header {
    background: #ffffff; 
    color: $color__brand--secondary;
}

.hero-header__image {

    padding: 10px;
}

.breadcrumbs {
    
    .breadcrumbs__link {
        color: $color__brand--secondary;
    }

    .breadcrumbs__item {
        color: #727272;
    }

}

.hero-header__title {

    h1 {
        color: $color__brand--secondary;
    }

    border-left: 4px solid $color__brand--primary;
}

.hero-header__tagline {

    font-weight: normal;
}

.hero-header__image {
    padding: 20px;
}



//Prologue

  .prolgue {background: $color__brand--primary;}  


.tiles-hero {

    article {   
    
            a {
                color: inherit;
                text-decoration: none;
        
                &:hover {
                    background: rgba(0,164,180,0.2);
           
        
                }
        
                &:active {

                }
        
                &:focus {
      
                }
            }
    } 

    .card--hover::after {background: none;}

    /* card min height */
    .card {
  
        margin: 10px -5px;
    }


    .card--small {
  
        @media (min-width: 768px) {

            min-height: 294px;

        }

        @media (min-width: 992px) {
     
        }

    } 

}    
   


#site-footer {background: $color__brand--secondary;}   

.ds_site-footer__copyright-logo {

    img {

    height: 15px;
    }
}

/* Image Mask */

