/* future skills section homepage */

/* site header - see _includes/header.html for switch script */

.future-skills {

    // SG logo header
    .site-header {

        background-color: #ffffff;
        box-shadow: 0px 3px 10px 0px rgba(114, 114, 114, 0.25);
    
            &:before {
                background-image: linear-gradient(to right, #F0A75A, #A51765);
                content: '';
                display: block;
                height: 7px;
                margin-bottom: 14px;
                width: 100%;
            }
    }

    // hero header

    .hero-header {
    
        background: none;
            color: #000000;
    

        .breadcrumbs__link {
            color: #A51765;
        }

        .breadcrumbs {
            color: #727272;
        }

        .hero-header__title {
            border-left: 4px solid #F0A75A;
            color: #A51765;
        }

        .hero-header__tagline {
            display: block;
            font-weight: 700;
            line-height: 1.4em;
            margin-top: 7px;
            color: #333333;
            margin-bottom: 0;
        

            @media screen and (min-width: 768px) {

                max-width: 80%;
            }
        }
    }        

    // hero image
    .hero-header__image {
        position: relative;
    
        @media screen and (min-width: 768px) and (max-width: 991px) {
            position: absolute;
            max-width: 50%;
            top:142px;
            right: 5px;
        }
        @media screen and (min-width: 992px) {
            position: absolute;
            max-width: 43%;
            right: 5px;
        }
    }



    // footer 

    .site-footer {
    background: #A51765;

        a {
            color: #ffffff;
        }
    }


    // section pages

    a {color: #A51765;}

    .card--hover:after {
        background-image: linear-gradient(to right, #F0A75A, #A51765);
    }

    .page-nav__button--left:before, .page-nav__button--right:before {
    
        content: '';
        height: 56px;
        width: 56px;
        background-color: #a51765;
        background-position: center;
        border-radius: 56px;
        display: inline-block;
        position: absolute;
        top: 12px;
        transition: background 1s;
    }
}
