@charset "utf-8";

/*------------------------------------*\
    $MYGOV ASSETS
\*------------------------------------*/




/* SASS Libraries
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
@import "compass";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";




/**
 * GRID/LAYOUT
 */

// inuitcss layout module is not ready. Use CSS Wizardry grids instead
$gutter: 30px;
$pull: true;
$push: true;

// same breakpoints as gov.scot
$breakpoints: (
    'small' '(min-width: 480px)',
    'medium' '(min-width: 768px)',
    'large' '(min-width: 992px)',
    'xlarge' '(min-width: 1200px)',

    'small-down' '(max-width: 479px)',
    'medium-down' '(max-width: 767px)',
    'large-down' '(max-width: 991px)',
    'small-to-medium' '(min-width: 480px) and (max-width: 767px)',
    'medium-to-large' '(min-width: 768px) and (max-width: 991px)',
    'large-to-xlarge' '(min-width: 992px) and (max-width: 1199px)',
    'xlarge-up' '(min-width: 1200px)',

    'medium-portrait' '(min-width: 768px) and (orientation: portrait) and (max-width : 1024px)',
    'medium-landscape' '(min-width: 768px) and (orientation: landscape)  and (max-width : 1024px)'
);
$breakpoint-has-widths: ('small', 'medium', 'large', 'xlarge');
$breakpoint-has-push:   ('medium', 'large', 'xlarge');
$breakpoint-has-pull:   ('medium', 'large', 'xlarge');

@import "../../node_modules/@scottish-government/mygov-assets/node_modules/csswizardry-grids/csswizardry-grids.scss";




/**
 * SETTINGS
 */
$inuit-base-font-size: 15px;
$inuit-base-line-height: 24px;
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-defaults/settings.defaults";
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-responsive-settings/settings.responsive";
@import "../../node_modules/@scottish-government/mygov-assets/scss/settings/settings.base-spacing";
@import "../../node_modules/@scottish-government/mygov-assets/scss/settings/settings.colors";
@import "../../node_modules/@scottish-government/mygov-assets/scss/settings/settings.transition";
@import "../../node_modules/@scottish-government/mygov-assets/scss/settings/settings.type";




/**
 * TOOLS
 */
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-functions/tools.functions";
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-mixins/tools.mixins";
$inuit-use-fractions: false;
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-tools-widths/tools.widths";
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-responsive-tools/tools.responsive";
@import "../../node_modules/@scottish-government/mygov-assets/scss/tools/tools.mixins";




/**
 * GENERIC
 */
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-normalize/generic.normalize";
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-reset/generic.reset";
@import "../../node_modules/@scottish-government/mygov-assets/node_modules/inuit-box-sizing/generic.box-sizing";




/**
 * HELPERS
 */
@import "../../node_modules/@scottish-government/mygov-assets/scss/helpers/helper.bleed";
@import "../../node_modules/@scottish-government/mygov-assets/scss/helpers/helper.overflows";
@import "../../node_modules/@scottish-government/mygov-assets/scss/helpers/helper.visibility";
@import "../../node_modules/@scottish-government/mygov-assets/scss/helpers/helper.wrappers";




/**
 * BASE
 */
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.base-spacing";
@import "base/base.code";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.external-links";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.forms";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.form-errors";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.images";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.rules";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.tables";

/* BASE: TYPE */
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.blockquote";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.body";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.header-emphasis";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.headings";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.leader";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.lists";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.small";

/* BASE: BUTTONS AND LINKS */
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/base.buttons";
@import "../../node_modules/@scottish-government/mygov-assets/scss/base/type/type.links";




/**
 * COMPONENTS
 */
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.article-header";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.breadcrumbs";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.card";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.category-item";
@import "components/component.embedded";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.expand";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.expandable";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.external-links";
@import "components/component.figure-example";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.file-icon";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.in-article-form";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.informational-notes";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.listed-content-item";
@import "components/component.listed-content-item";
@import "components/component.page-group";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.page-nav";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.person";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.related-items";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.search-box";
@import "components/component.site-footer";
@import "../../node_modules/@scottish-government/mygov-assets/scss/components/component.skip-links";
@import "components/component.feedback";





/**
 * TRUMPS
 */
@import "../../node_modules/@scottish-government/mygov-assets/scss/trumps/trump.header-search";
@import "trumps/trump.hero-header";
@import "trumps/trump.tables";


/**
 * WHOLE THINGS
 */
@import "components/component.colour-palette.scss";
.main-content > h2 {
    margin-top: 0 !important;
}

.main-content p + h2, .main-content ul + h2 {
    margin-top: 2em*28/35 !important;
}
