@charset "utf-8";

$color__brand--primary: #002d54;
$color__brand--secondary: #00a5b5;
$brand-gradient-direction: left;
$color__border--highlight: $color__brand--secondary;



/**
 * GRID/LAYOUT
 */
@import "../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import "base/base.page";
@import "base/base.eap-layouts";
@import "base/base.tables";




/**
 * COMPONENTS FROM DESIGN SYSTEM
 */
$page-nav__icon-color: $color__link;
@import "../../node_modules/@scottish-government/pattern-library/src/components/all-components";
@import "components/component.callout";
.ds_layout__content img {
    margin: 28px 0;
}



/**
 * OVERRIDES
 */
@import "overrides/override.card";
@import "overrides/override.future-skills-colorway";

// this should be somewhere else, probably
.ds_category-header {
    margin: 14px 0 28px 0;
}
