<div class="ds_wrapper">
    <div class="ds_category-list-container">
        <ol class="ds_category-list  ds_category-list--grid  ds_category-list--narrow">
            {% assign indexed = site.pages | where:"category", page.navitems | sort: 'index', 'first' %}
            {% for item in indexed %}

            <li class="ds_card  ds_card--has-hover">
                <article class="ds_category-item  ds_category-item--card">
                    <h2 class="ds_category-item__title">
                        <a data-navigation="category-item-1" href="{% if item.redirectTo %}{{ item.redirectTo }}{% else %}{{ item.url }}{% endif %}" class="ds_category-item__link">{{ item.title }}</a>
                    </h2>

                    <p class="ds_category-item__summary">
                        {{item.summary}}
                    </p>
                </article>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
