<div class="ds_wrapper">
    <div class="ds_category-list-container">
        <div class="ds_category-list  ds_category-list--grid  ds_category-list--narrow">
            {% assign indexed = site.pages | where:"category", page.navitems | sort: 'index', 'first' %}
            {% for item in indexed %}

            <div class="ds_card">
                <div class="ds_card__figure  ds_card__figure--235">
                    {% if item.cardcategoryimage %}
                        <img class="ds_card__image" src="/assets/images/cardcategoryimages/{{item.cardcategoryimage}}"/>
                    {% endif %}
                </div>

                <div class="ds_card__content">
                    <h2>
                        <a class="ds_card__cover-link" data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}">{{ item.title }}</a>
                    </h2>

                    <div>
                        {{item.summary}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
