<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="noindex">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:900" />
    <![endif]-->

    <link rel="stylesheet" href="https://www.mygov.scot/assets/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.mygov.scot/assets/styles/main.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->

    <!--[if lte IE 7]>
      <link rel="stylesheet" href="https://www.mygov.scot/assets/styles/ie.css">
    <![endif]-->

</head>
