<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_code }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="notifications-wrapper">
    <div id="cookie-notice" class="notification hidden hidden--hard" aria-describedby="cookieinfo">
    	<div class="wrapper">
            <p id="cookieinfo" class="cookieinfo">Mygov.scot uses cookies which are essential for the site to work. We also use non-essential cookies to help us improve our websites. Any data collected is anonymised. By continuing to use this site, you agree to our use of cookies. <a href="/cookies/">Find out more about cookies</a>.</p>
        	<button title="Close this notification" id="close-cookie-notification" class="close-button close-notification">Close</button>
        </div>
        <script type="text/javascript" src="/assets/js/cookies.js"></script>
	</div>
</div>

<div class="site-header" style="background-color: none; padding:0; color: #000;">
    <div class="wrapper" >

        <a href="/" style="width: 185px; height: 38px;  margin-right: 7px; float:left;">
            <img src="/assets/images/scotgovlogo.svg" alt="Scottish Government logo">
        </a>
        <a href="/" style="border-left: 2px solid; margin: 0; padding:0 10px; float:left;">
            <h3>Economic Action Plan 2019-20</h3>
        </a>
    </div>
</div>

{% if page.thispage != 'home' and page.thispage != 404 %}
    <div class="wrapper">
        {% include breadcrumbs.html %}
    </div>
{% endif %}
