<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_code }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="notifications-wrapper">
    <div id="cookie-notice" class="notification hidden hidden--hard" aria-describedby="cookieinfo">
    	<div class="wrapper">
        	<p tabindex="0" id="cookieinfo" class="cookieinfo">This site uses cookies to make the site simpler. <a href="/cookies/">Find out more about cookies</a></p>
        	<button title="Close this notification" id="close-cookie-notification" class="close-button close-notification">Close</button>
        </div>
        <script type="text/javascript" src="/assets/js/cookies.js"></script>
	</div>
</div>

<div style="background-color: #0065bd; padding: 14px 0 0; color: #fff;">
    <div class="wrapper">

        <a href="/" style="width: 185px; height: 38px; display: inline-block; margin-right: 7px;">
            <img src="/assets/images/scotgovlogo-inverse.svg" alt="Scottish Government logo">
        </a>

    </div>
</div>







{% if page.thispage != 'home' and page.thispage != 404 %}
    <div class="wrapper">
        {% include breadcrumbs.html %}
    </div>
{% endif %}
