<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_code }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="notifications-wrapper">
    <div id="cookie-notice" class="ds_notification  fully-hidden" aria-describedby="cookieinfo">
        <div class="ds_wrapper">
            <div class="ds_notification__content">
                <div class="ds_notification__text">
                    <p>We use cookies to make the site simpler.</p>
                </div>

                <div class="ds_notification__actions">
                    <button class="ds_button  js-accept-cookies" data-banner="banner-cookie-accept">Accept cookies</button>
                    <a href="/cookies/" class="ds_button  ds_button--secondary" data-banner="banner-cookie-settings">Cookie settings</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/assets/js/cookies.js"></script>
	</div>
</div>


<div class="ds_site-header  ds_site-header--gradient  ds_site-header--shadow">
    <div class="ds_wrapper">
        <div class="ds_site-header__content">
            <div class="ds_site-branding">
                <a class="ds_site-branding__logo  ds_site-branding__link" href="/" style="height: 38px;">
                    <img class="ds_site-branding__logo-image" src="/assets/images/scotgovlogo.svg" alt="Scottish Government logo">
                </a>

                {% if page.thispage != 'future-skills-action-plan' and page.thispage != 'fair-work-action-plan' and page.thispage != 'fair-work-action-plan-home' %}
                    <div class="ds_site-header__title">
                        Economic Action Plan 2019-20
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
