$blue: #226eaa;
$navy: #002754;
$black: #000000;
$green: #a9b259;
$berry-red: #c2386a;
$grey-dark: #333333;
$grey-medium: #cccccc;
$grey-light: #ebebeb;
$grey-lighter: #f4f4f4;
$grey-lightest: #fcfcfc;

$rollover: $navy;
