<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="article {{ page.type }} {{page.layout}}">


<div class="ds_page">
    <div class="ds_page__top">
        {% include header.html %}
    </div>

    <div class="ds_page__middle">

        {% if page.thispage != 'home' and page.thispage != 404 %}
            <div class="ds_wrapper">
                {% include breadcrumbs.html %}
            </div>
        {% endif %}

        <div class="ds_wrapper">

            <main id="main-content" class="ds_layout  ds_layout--article">
                <div class="ds_layout__header">
                    <header class="heading">
                        <div class="ds_page-header">
                            <span class="ds_page-header__label  ds_content-label">{{ page.imperative }}</span>

                            <h1 class="ds_page-header__title">{{ page.title }}</h1>
                        </div>
                    </header>
                </div>

                {% if page.headings %}
                    <div class="ds_layout__sidebar">
                        <nav role="navigation" aria-label="Sections" class="ds_side-navigation" data-module="ds-side-navigation">
                            <input type="checkbox" class="fully-hidden  js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root" />
                            <label class="ds_side-navigation__expand  ds_link" for="show-side-navigation"><span class="visually-hidden">Show all</span> Sections in this page <span class="ds_side-navigation__expand-indicator"></span></label>

                            <ul class="ds_side-navigation__list  ds_side-navigation__list--root" id="side-navigation-root">
                                {% for heading in page.headings %}
                                <li class="ds_side-navigation__item">
                                    {% if heading.url %}
                                        <a class="ds_side-navigation__link" href="{{heading.url}}">{{ heading.name }}</a>
                                    {% else %}
                                        <a class="ds_side-navigation__link" href="#{{heading.name | replace:'.', '' | slugify}}">{{ heading.name }}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}

                <div class="ds_layout__content">
                    <div class="main-content">
                        {{ content }}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="ds_page__bottom">
        {% include footer.html %}
    </div>
</div>

</body>

</html>
