<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="{{ page.type }} {{page.layout}}">

    <div class="ds_page">
        <div class="ds_page__top">
            {% include header.html %}
        </div>

        <div class="ds_page__middle">
            {% if page.redirectTo %}
            <div class="ds_wrapper">
                <div class="ds_page-header">
                    <h1 class="ds_page-header__title">{{ page.title }}</h1>
                    <h2>This content has been moved</h2>
                    <p><a href="{{page.redirectTo}}">Click here if your browser does not automatically redirect you.</a></p>
                </div>
            </div>
            {% else %}
            <div class="category-upper">
                {% if page.thispage != 'home' and page.thispage != 404 %}
                    <div class="ds_wrapper">
                        {% include breadcrumbs.html %}
                    </div>
                {% endif %}

                <div class="ds_wrapper" id="main-content">
                    <div class="ds_layout__header">
                        <div class="ds_category-header">
                            <header class="ds_category-header__header">
                                <h1 class="ds_category-header__title">{{ page.title }}</h1>
                                <div class="ds_category-header__summary">
                                    <p>{{ page.subtitle }}</p>
                                </div>
                            </header>
                            <div class="ds_category-header__media-container">
                                <img class="ds_category-header__media" src="/assets/images/hero/{{ page.hero }}"
                                srcset="/assets/images/hero/{{ page.hero }} 1x, /assets/images/hero/{{ page.hero | replace: ".png", "-x2.png"}} 2x" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category-lower">
                {% assign navitems = page.navitems %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: 'index', 'first' %}
                {% include card-nav.html %}
            </div>
            {% endif %}
        </div>

        <div class="ds_page__bottom">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>
