<!DOCTYPE html>
<html>

{% include head.html %}

<body class="{{ page.type }}">

{% include header.html %}

<header class="summary-block {% if page.type == 'standard' %}fancy{% endif %} article-header">

    <div class="wrapper">
        <div class="inner">
            <h1 class="summary-title">{{ page.title }}</h1>

            {{ page.content }}

        </div>

    </div>
    <!-- /end .container -->
</header>

<div class="wrapper">

    <div class="grid"><!--
        --><div class="grid__item  medium__eight-twelfths">

            {% assign sorted_items = site.standard | sort:'title' %}

            <nav>
                <ol class="nav">
                    {% for item in sorted_items %}
                    {% if item.parent == page.thispage %}
                    <li><a href="#{{ item.title | slugify }}">{{ item.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </nav>

            <section id="article-list">


                {% assign count = 0 %}

                {% for item in sorted_items %}
                    {% if item.parent == page.thispage %}

                    {% assign count = count | plus: 1 %}

                    <article id="{{ item.title | slugify }}">
                        <h2>
                            {{ count }}.
                            {{ item.title }}
                        </h2>

                        <p>{{ item.summary }}</p>

                        <a class="button" href="{{ item.permalink }}">
                            <span class="link-text">
                                {% if item.linktext %}
                                    {{ item.linktext }}
                                {% else %}
                                    Read more
                                {% endif %}
                            </span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </article>
                    {% endif %}
                {% endfor %}

            </section>

        </div><!--

    --></div>
    <!-- /end .grid -->
</div>
<!-- /end .container -->

{% include footer.html %}

</body>

</html>
