<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="home tiles-hero">

<!-- image wash values -->
    <svg class="wash-val">
        <filter id="monochrome" color-interpolation-filters="linearRGB"
            x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"
            values="0.5   0    0     0     0
                    0     0.65  0    0     0
                    0     0     0.71 0     0
                    0     0     0    0.9   0"/>
        </filter>
    </svg>

<div class="header-wrapper  header-wrapper--border  hero-header">
{% include header.html %}

    <div class="wrapper  hero-header__content">
        <div class="grid"><!--
            --><div class="grid__item  medium--eight-twelfths">
                <div class="hero-header__title">
                    <h1>{{ page.title }}</h1>
                    <p class="hero-header__tagline">{{ page.subtitle }}</p>
                </div>

                {% if page.hero %}
                    <img class="hero-header__image"
                        src="/assets/images/hero/{{ page.hero }}"
                        srcset="/assets/images/hero/{{ page.hero }} 1x, /assets/images/hero/{{ page.hero | replace: ".png", "-x2.png"}} 2x"/>
                {% endif %}
            </div><!--
        --></div>
    </div>
</div>

<div id="body-wrapper">

        {% if page.thispage == 'home' and page.thispage != 404 %}
            <div class="wrapper main prologue">
                <div class="container">
                    <div class="left-align">
                        <p class="text">"Our Economic Action Plan sets out the steps we are taking to
                    create a low carbon and sustainable economy based on Scotland's Economic Strategy, which benefits
                    everyone in Scotland. "</p>
                    </div>
                    <div class="right-align">
                        <p class="name">Mr Derek Mackay MSP<br/>Cabinet Secretary for Finance, Economy and Fair Work</p>
                    </div>
                </div>
            </div>
        {% endif %}


    <div class="category-list-container">
        <!-- Start category-list-0.hbs -->
        <div class="wrapper main category-list category-list--cards">
           <div class="grid"><!--
                    {% assign indexed = site.pages | where:"category", page.navitems | sort: 'index', 'first' %}
                    {% for item in indexed %}
             --><div class="grid__item medium--one-half large--four-twelfths">

                    <article class="card card--small card--hover card-image">

                        <a href="{{ item.url }}" class="category-item__link  card__content" data-gtm="item-0">

                            {% if item.cardcategoryimage %}              
                                <img class="category-item__image img-wash"
                                    src="/assets/images/cardcategoryimages/{{item.cardcategoryimage}}"
                                    srcset="/assets/images/cardcategoryimages/{{item.cardcategoryimage}}"/>
                            {% endif %}

                           
                                <h2 class="category-item__title">{{item.title}}</h2>

                                <p class="category-item__summary">{{item.summary}}</p>

                                <div class="category-item__button"><span>Find out more</span></div>    
                
                        </a>

                    </article>
                </div><!--
                    {% endfor %}
                    --><!--
         --></div>
        </div>
        <br class="clearfix">
    </div>

</div>

{% include footer.html %}

</body>
</html>
