.case-study {
    background-color: $color__grey--lighter;
    border-left: 4px solid $color__link--primary;

    clear: both;
    font-size: 15px;
    line-height: 21px;
    margin: 35px 0;
    padding: 14px 10px 14px 21px;
}

.case-study h2 {
    font-weight: 100;
    font-size: 35px;
    margin-top: 21px;
    margin-bottom: 14px;
}

.case-study h2:before {
    content: "case study";
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    margin-top: -14px;
    margin-bottom: 0;
    color: #005db6;
    font-weight: 700;
}


@media (min-width: 768px) {
    .case-study {
        font-size: 19px;
        line-height: 28px;
        padding-right: 35px;
        padding-left: 35px;
        top: 0;
    }

    .case-study h2:before {
        margin-bottom: -7px;
    }
}
