.ds_callout {
    background-color: $color__grey--lighter;
    border-left: 4px solid $color__link;

    clear: both;
    font-size: 15px;
    line-height: 21px;
    margin: 35px 0;
    padding: 28px 10px 14px 21px;
}

.ds_callout__title {
    font-weight: 100;
    font-size: 28px;
    margin-top: 0 !important;
    margin-bottom: 14px;
}

.ds_callout__label {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    color: $color__link;
    font-weight: 700;
}

@media (min-width: 768px) {
    .ds_callout {
        font-size: 19px;
        line-height: 28px;
        padding-right: 35px;
        padding-left: 35px;
        top: 0;
    }

    .ds_callout__title {
        font-size: 35px;
    }
}
